pipeline/Copy_WebActivity_To_Blob.json
{
	"name": "Copy_WebActivity_To_Blob",
	"properties": {
		"activities": [
			{
				"name": "Read RestAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "Copy_RestAPI to Blob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Read RestAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://storageacct476.blob.core.windows.net/webactivityblobs/Employee_WebActivity.json?sp=racw&st=2024-03-19T07:25:27Z&se=2024-03-19T15:25:27Z&spr=https&sv=2022-11-02&sr=c&sig=BjbSAB0%2B2aYQo9v4Zad2UY0sDrC8Ys7RUqq6xx2Ps8k%3D",
					"body": {
						"value": "@activity('Read RestAPI').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}