pipeline/Lookup_Foreach_switch_copy_delete.json
{
	"name": "Lookup_Foreach_switch_copy_delete",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct job from emp",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_Table",
						"type": "DatasetReference",
						"parameters": {
							"T_name": "emp"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().job",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "CLERK",
										"activities": [
											{
												"name": "Copy Emp_clerk",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "select * from emp where job = 'clerk'",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"T_name": "emp"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"T_name": "emp_clerk"
														}
													}
												]
											},
											{
												"name": "Stored procedure1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy Emp_clerk",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[deletedata]",
													"storedProcedureParameters": {
														"job": {
															"value": "CLERK",
															"type": "String"
														},
														"tname": {
															"value": "emp",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_DB",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "ANALYST",
										"activities": [
											{
												"name": "Copy Emp_Analyst",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "select * from emp where job = 'analyst'",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"T_name": "emp"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Dynamic_Table",
														"type": "DatasetReference",
														"parameters": {
															"T_name": "emp_analyst"
														}
													}
												]
											},
											{
												"name": "Stored procedure2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy Emp_Analyst",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[deletedata]",
													"storedProcedureParameters": {
														"job": {
															"value": "ANALYST",
															"type": "String"
														},
														"tname": {
															"value": "emp",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_DB",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from emp where job not in ('clerk', 'analyst')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Dynamic_Table",
						"type": "DatasetReference",
						"parameters": {
							"T_name": "emp"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Dynamic_Table",
						"type": "DatasetReference",
						"parameters": {
							"T_name": "emp_others"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-12T10:56:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}